CTRLX_VM_NAME=4.6.0
CTRLX_VM_DIR=assets/4.6.0
CTRLX_RUNTIME_DIR=assets/runtime
CTRLX_WEB_URL=https://127.0.0.1:8443
CTRLX_SSH_HOST=127.0.0.1
CTRLX_SSH_PORT=8022
CTRLX_WEB_PORT=8443
CTRLX_DATALAYER_PORT=8740
CTRLX_OPCUA_PORT=4840
CTRLX_WEB_USER=boschrexroth
CTRLX_WEB_PASSWORD=boschrexroth
CTRLX_QEMU_MEMORY=2048
CTRLX_QEMU_CPUS=4
